/*------------------------------------------------------------------

  Project: Kevan S. Portfolio
  Author: Kevan S.
  Last change: 12/04/2024 
  Version: 1.2
  Primary use: 

------------------------------------------------------------------ */

/*-----------------------[Table of contents]------------------------ 

1.Default CSS 
2. Main Page CSS

------------------------------------------------------------------ */

/************************* 1.Default CSS **************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-family: "Inter", sans-serif;
}

/************************* 2. Main Page CSS **************************/
.main-spacer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.half-circle-frame {
    position: absolute;
    top: -26px;
    right: 200px;
}

.new-sec-section {
    padding-top: 80px;
}

.multiplication-frame-main2 {
    position: absolute;
    left: 11px;
    top: 50%;
}

.unconventional2 {
    color: var(--text-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.black-multiplication5 {
    position: relative;
    filter: var(--svg-color);
}

.yellow-multiplication5 {
    position: absolute;
    left: 9px;
    top: -8px;
}